html, body, *, ul, li {
    margin: 0;
    padding: 0;
  }
  h1 {
    text-align: center;
    margin: 20px 0;
  }
  header {
    display: flex;
    background-color: #000;
    padding: 20px;
    justify-content: space-between;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  header a {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
  }
  header a:hover {
    text-decoration: underline;
  }
  nav ul li {
    display: inline;
  }
  nav li {
    margin-left: 15px;
  }
  img {
    max-width: 100%;
    display: block;
  }
  
   .galery_First{
    display: flex;
    max-width: 1200px;
    justify-content: space-around;

  }

  .galery_columns{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 230px;
    max-height: 400px;
    flex-wrap: wrap;
  }

  #sectionGaleryColumns div:nth-of-type(8) {
    flex-grow: 2;
  }

  .galery_columns > div {
    flex: 1 1 150px;
    margin: 10px;
  }

  .galery_columns > div > p {
    text-align: center;
    margin-top: 10px;
  }
  

  /* --- Galeria --- */
  .galery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
  }
  .galery > div {
    flex: 1 1 300px;
    margin: 10px;
  }
  .galery > div:nth-child(3n) {
    border: 20px solid #CCC;
  }
  .galery p {
    text-align: center;
    margin-top: 10px;
  }
  